<script>
  function check_for_submit(e) {
    if (e.keyCode == 13) {
      check_divisibility();
      return false;
    } else if (e.keyCode == 38) {
      increase_and_submit();
      return false;
    } else if (e.keyCode == 40) {
      decrease_and_submit();
      return false;
    } else {
      return true;
    }
  }
</script>

<input id="division_number" type="number" onkeydown="return check_for_submit(event)" onkeypress="return check_for_submit(event)">
<input id="division_submit"
       value="submit" 
       type="submit">
<br>
<input id="increase_button"
       type="button"
       value="increase">
<input id="decrease_button"
       type="button"
       value="decrease">
<div id="output_div"></div>

<script>
  let check_divisibility = function check_divisibility() {
    let number = document.getElementById("division_number").value;
    for (var i = 1; i <= 20; i++) {
      var response_div = document.getElementById("response_" + i);
      while (response_div.firstChild) {
          response_div.removeChild(response_div.firstChild);
      }
      if (number % i == 0) {
        response_div.appendChild(document.createTextNode("Your number WAS a multiple of " + i + " :)"));
      } else {
        response_div.appendChild(document.createTextNode("Your number WAS NOT a multiple of " + i + " :("));
      }
    }
  }
  let increase_and_submit = function increase_and_submit() {
    let input = document.getElementById("division_number");
    input.value = Number.parseInt(input.value, 10) + 1;
    check_divisibility();
  }
  let decrease_and_submit = function decrease_and_submit() {
    let input = document.getElementById("division_number");
    input.value = Number.parseInt(input.value, 10) - 1;
    check_divisibility();
  }

  document.getElementById("division_submit").addEventListener("click", check_divisibility, false);
  document.getElementById("increase_button").addEventListener("click", increase_and_submit, false);
  document.getElementById("decrease_button").addEventListener("click", decrease_and_submit, false);

  for (var i = 1; i <= 20; i++) {
    var response_div = document.createElement("div");
    response_div.setAttribute("id", "response_" + i);
    document.getElementById("output_div").appendChild(response_div);
  }

</script>
