<input type="button" id="download-prep-button" value="prepare download">
<br>
<a id="download-link" hidden="true">
  Download
</a>

<script>
  let downloadPrepButton = document.getElementById('download-prep-button');
  let downloadLink = document.getElementById('download-link');
  downloadPrepButton.onclick = () => {
    let canvas = document.getElementById('frame-canvas');
    let imageHREF = CanvasToBMP.toDataURL(canvas);
    downloadLink.href = imageHREF;
    window.location = imageHREF;
    // downloadLink.download = "IFS-image.bmp"
    // downloadLink.hidden = false;
  }
</script>
